body {
  margin: 0;
  overflow: hidden;
  background-color: #003300;
  background-image: linear-gradient(135deg, #003300 25%, #004d00 25%, #004d00 50%, #003300 50%, #003300 75%, #004d00 75%, #004d00); /* Circuit board effect */
  background-size: 20px 20px; 
}

#canvas-wrapper {
  position: absolute;
  top: 0px; 
  left: 50%;
  transform: translateX(-50%);
  width: 620px; 
  height: 620px;
  background-color: grey; 
  border-radius: 50%; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); 
  z-index: 1; 
}

canvas {
  width: 600px;
  height: 600px;
  border-radius: 50%; 
  background: radial-gradient(circle, #e0e0e0, #a9a9a9); 
  display: block;
  margin: 0 auto;
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  position: relative;
  z-index: 2; 
}

#button-wrapper {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px; 
  height: 90px;
  background-color: grey; 
  border-radius: 45px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); 
  z-index: 3; 
}


#start-button {
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 240px; 
  height: 70px;
  background-color: #003366; 
  color: white;
  border: none;
  border-radius: 35px; 
  font-size: 24px;
  text-align: center;
  line-height: 70px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
  z-index: 4; 
  cursor: pointer;
}

#start-button:hover {
  background-color: #002244; 
}
