body {
    margin: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-color: #000;
  }
  
  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat-x;
    z-index: -3; 
  }
  
  .background-layer-1 {
    background-image: url('images/backgrounds/menu/bgd1.png'),  
                      url('images/backgrounds/menu/bgd2.png');
    background-size: 50% auto, 50% auto;
    background-position: left bottom, right bottom;
    background-attachment: fixed;
    animation: slideBackground1 30s linear infinite;
  }
  
  .background-layer-2 {
    background-image: url('images/backgrounds/menu/bgskyd.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-x;
    animation: slideBackground2 20s linear infinite;
  }
  
  @keyframes slideBackground1 {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  @keyframes slideBackground2 {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  #canvas-wrapper {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 820px;
    height: 620px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    z-index: 1; 
  }
  
  canvas {
    width: 800px;
    height: 600px;
    border-radius: 10px;
    background: radial-gradient(circle, #e0e0e0, #a9a9a9);
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 2; 
  }
  
  #menu-title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    max-height: 100px;
    width: auto;
    height: auto;
    z-index: 3; 
  }
  
  .button {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    margin: 10px auto;
    display: block;
  }
  
  .button:hover {
    background-color: #002244;
  }
  
  #help-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 10;
  }
  